#offline-form {
	height: 100vh;
	background: url(../img/1024-x-1366.png) center center no-repeat;
	background-size: cover;
	font-family: 'Montserrat-light', sans-serif;
	font-weight: 300;

	input {
		border: none;
		border-bottom: 1px solid #aaa;
		padding: 1em 0em;
		border-radius: 0;
	}

	select {
		padding: 1em 0em;
		border-radius: 0;
		height: auto;
		color: #6c757d;
	}

	.input-group-text {
		background-color: #fff;
		border: none;
		border-bottom: 1px solid #aaa;
		border-radius: 0;
	}

	.form-control:focus {
		box-shadow: none;
	}

	.submit {
		background: #fff;
		color: #000;
		border: 1px solid #000;
		border-radius: 1.5rem;
		padding: 1.5rem;
	}

	button:focus {
		box-shadow: none;
	}

	select {
		background-clip: inherit;
		border: none;
		-webkit-appearance: none;
		border-bottom: 1px solid #aaa;
	}
	.modal-dialog{
		height: 100vh;
		margin: 0rem auto;
		display: flex;
		align-items: center;
	}

}

	.close {
		font-size: 2rem;
		font-weight: 100;
	}
